* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
  --main-color: #eaf0f9;
}
#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  width: 100svw;
  height: 100svh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

body {
  color: #333;
}
